<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Детали задания</h1>
    <div class="details-todo">
        <p><strong>Категория:</strong> {{ todo.category }}</p>
        <p><strong>Название:</strong> {{ todo.title }}</p>
        <p><strong>Описание:</strong> {{ todo.text }}</p>
        <p><strong>Приоритет:</strong> {{ todo.priority }}</p>
        <p><strong>Статус:</strong> {{ todo.status }}</p>
        <p><strong>Выполнение:</strong> {{ 'Выполнено' if todo.complete else 'Не выполнено' }}</p>
    </div>
    <div class="details-link">
        <a href="{{ url_for('index') }}" class="btn btn-todo">Вернуться</a>
        <a href="{{ url_for('edit', id=todo.id) }}" class="btn btn-todo">Редактировать</a>
        <a href="{{ url_for('delete', id=todo.id) }}" class="btn btn-todo">Удалить</a>
    </div>
</body>
</html>
