<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Todo List</h1>
    <div>
        <a href="{{ url_for('add') }}" class="btn btn-todo">Добавить новую задачу</a>
    </div>
    <div>
        <h2>Невыполненные задачи</h2>
        <ul>
            {% for todo in incomplete %}
            <li>
                <a href="{{ url_for('task_detail', id=todo.id) }}">{{ todo.title }} ({{ todo.category }})</a>
                <div>
                    <a href="{{ url_for('complete', id=todo.id) }}" class="btn btn-todo">Задача выполнена</a>
                    <a href="{{ url_for('edit', id=todo.id) }}" class="btn btn-todo">Редактировать</a>
                    <a href="{{ url_for('delete', id=todo.id) }}" class="btn btn-todo">Удалить</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <h2>Выполненные задачи</h2>
        <ul>
            {% for todo in complete %}
            <li>
                <a href="{{ url_for('task_detail', id=todo.id) }}">{{ todo.title }} ({{ todo.category }})</a>
                <div>
                    <a href="{{ url_for('edit', id=todo.id) }}" class="btn btn-edit">Редактировать</a>
                    <a href="{{ url_for('delete', id=todo.id) }}" class="btn btn-delete">Удалить</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
